*{ 
    margin: 0;
    padding: 0;
}
@font-face {
	font-family: "Brushed";
	src: url('/font/Brushed.ttf');
}
body {
    font-family: 'Brushed',sans-serif;
    background-color: #fdf0e7;
}


.containerHeader{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    background-color:#fdf0e7;
    top: 0;
}
.logo{
    height: 230px;
    width: 150px;
}
.logo img{
    height: 216px;
    width: 120px;
   
    object-fit: cover;
    margin-left: 32px;
}
.nameArtist {
    margin-bottom: 82px;
}
.nameArtist h1{
    font-size: clamp(1.7rem,4vw,5rem);
    
    color: #650900;
}
.nameArtist p{
    font-family: 'Times New Roman', Times, serif; 
    color: #650900;
    font-size: clamp(1rem,4vw,2rem);
}
/*-----------------------------bouton hamburger ----------------*/
.hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    width: 20px;
    border: 2px #650900 solid;
    border-radius: 16px;
    padding: 12px;
    margin-bottom: 70px;
    margin-right: 32px;
}
.hamburger:hover {
    cursor:grab;
}
.burger{
    height: 4px;
    width: 30px;
    background-color: #650900;
}
.fenetreBurger {
    height: 8rem;
    width: 115px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -150px;
    background-color: #ceeff4;
    border: 2px solid #650900;
    padding-top: 60px;
    transition: left 0.5s ease;
    border-radius: 50%;
  }
.fenetreBurger ul {
    list-style-type: none;
} 
.fenetreBurger li {
    margin: 0 0 15px 0;
} 
.fenetreBurger a {
    padding: 8px 8px 8px 30px;
    color: #f59fbd;
    
}
.fenetreBurger a:hover {   
    color: #650900;    
}
.fenetreBurger .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #650900;
    background-color: #f59fbd;
    border: 1px solid #650900;
    font-size: 20px;
    text-decoration: none;
  }

/*----------------------menu navigation -------------------------*/
.menu{
    position: relative;
    display: block;
    height: 80px;
    width: 500px;
    background: #fdf0e7;
    top: -2rem;
    line-height: 80px;
   
}
.menu ul {
   
    display: flex;
    list-style: none;
    
}
.menu ul li {
    height: 100%;
    width: 100%;
    text-align: center;
}
.menu ul li a{
    color: #f59fbd;
}
.menu ul li:hover .item_menu{
    color: #650900;
}
nav .item_menu {
    margin-bottom: 20px;
    font-size: 2rem;
    text-decoration: none;
    color: #650900;
}
.menu .slider{
    visibility: hidden;
    position: absolute;
    height: 7px;
    width: 33%;
    background: #f59fbd;
    bottom: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    border-radius: 4px;
}
.menu ul li:nth-child(1):hover ~ .slider{
    visibility: visible;
    background: #650900;
}
.menu ul li:nth-child(2):hover ~ .slider{
    visibility: visible;
    margin-left: 33%;
    background: #650900;
}
.menu ul li:nth-child(3):hover ~ .slider{
    visibility: visible;
    margin-left: 66%;
    background: #650900;
}
#enCours {
    color: #650900; 
}
#btnenCours {
    color: #650900; 
}
/*---------------------- section tableau----------------------------*/
.pleinEcran {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 10;
    background-color: #ceeff4;
}
.btnCloseTableau {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: 2px;
    right: 2px;
    color: #650900;
    background-color: #f59fbd;
    border: 1px solid #650900;
    border-radius: 50%;
    font-size: 36px;
    padding-bottom: 4px;
}

section .titreSection {
    
    margin-top: 280px;
    margin-left: 2rem;
}

section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(1rem,4vw,3rem);
    color: #650900;
    
}
.avis {
    margin-left: 5%;
}
.avis h2 {
    width: max-content;
}
.affichageAvis {
   
    overflow: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-top: 2rem;
    
    max-height: 45vh;
    max-width: 20vw ;
}
.divAvis {
    background-color: #ceeff4;
    margin-bottom: 1rem;
    border: 1px solid #650900;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#dernierePeinture {
    height: auto;
    margin-top: 3%;
    margin-left: 10%;
    
    max-width: 85vw;
    
    
}
#dernierePeinture:fullscreen {
 align-content: center;
 background-color: #faa;
}
#dernierePeinture1 {
    
    max-width: 90%;
    max-height: 80vh;
    cursor: zoom-in;
    border: 6px solid #650900;
    box-shadow: 8px 10px 10px #958686;
    
}
.imageAvis {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 3px solid #650900;
    padding-bottom: 3%;
}
/*------------------------------------ section avis ---------------------------------*/
.sectionAvis {
    display: flex;
    justify-content: center;
    padding: 2% 0 2% 0;
    border-bottom: 3px solid #650900;
    padding-bottom: 2%;
    background-image: url(./Peinture/Digue\ de\ rochers\ 19-01-2021.jpg);
    background-size: cover;
}
.donnerAvis {
    width: 35vw;
    border: 2px solid #650900;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background-color:#ceeff4 ;
}
.avisPrenom {
    display: flex;
    flex-direction: column;
}
.avisAvis {
    display: flex;
    flex-direction: column;
}
.labelPrenom {
    margin: 10px 0 10px 0;
    color: #650900;
}
#prenom {
    padding: 5px 5px;
    font-size: 16px;
}
.labelAvis {
    margin: 10px 0 10px 0;
    color: #650900;
}
#avis {
    padding: 5px;
    font-size: 16px;
}
.buttonAvis {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 0 10px 0;
}
.btnAvis {
    color:white;
    background-color: #650900;
    font-weight: bold;
    width: 7rem;
    height: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 5px gray;
}
.btnAvis:active {
    transform: translateY(2px);
}
.btnAvis:hover {
    background-color: #ceeff4;
    color: #650900;
}

/*------------------------------------ section portrait -----------------------------*/
.containerPortrait {
    display: flex;
    flex-direction: column;
    width: 42vw;
    margin: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 3%;

}
.paraPortrait {
    text-align: justify;
    margin-top: 3rem;
}

.titreportrait {
    margin-top: 2rem;
}

/*----------------------------------- footer -----------------------------------------*/
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: relative;
    bottom: 0;
    /* background-color: #ceeff4; */
}
.reseau {
    width: 10%;
    height: 50%;
    margin-left: 5%;
    color: #650900;

}
.piedDePage {
    position: absolute;
    bottom: 0;
}

/*---------------------------------- @media -----------------------------------------*/
@media screen and (max-width: 1150px){
    .menu {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}
@media screen and (max-width: 500px) {
    .menu {
        display: none;
    }
   
    .logo {

        width: 100vw;
        height: 7rem;
    }
    .logo img{
        height: 5rem;   
    }
    .containerHeader {
        position: relative;
        height: 10rem;
    }
    section .titreSection {
        margin-top: 4rem;
      }
    
    #dernierePeinture {
        margin-left: auto;
        margin-right: auto;
        width: 88%;
    }
    .nameArtist {
        margin-left: auto;
        margin-right: auto;
    }
    .hamburger {
        display: flex;
        position: absolute;
        top: 20px;
        right: 10px;
    }
    .containerPortrait {
        margin: 0 10px;
        width: 95%;
    } 
    #grandImage .imageScrene {
        height: 60vh;
        margin-top: 0;
    }
    .affichageAvis {
        max-width: 80vw;
        max-height: 22vh;
    }
    .imageScrene {
        height: 50vh;
    }
    
    body .formulaire {
        margin-top: 1rem;
        height: 40rem;
    }
    .piedDePage {
        position: relative;
        bottom: 0;
    }

}

@media screen and (max-width: 900px)and (orientation: landscape){
    .containerHeader {
        position: static;
    }
    #grandImage .imageScrene {
        margin-top: 2rem;
    }
    section .titreSection {
        margin-top: 2rem;
        
    }
    body .formulaire {
        margin-top: 1rem;
        
    }
    .piedDePage {
        position: relative;
        bottom: 0;
    }
}
/*------------------------------ galerie carousel --------------------*/
.splide {
    margin-top: 1rem;
}
.splide__slide img {
    width:  100%;
    height: 100%;
    object-fit: cover;
    
}
.splide__slide {
    opacity: 0.6;
    background-color: #650900;
}
.splide__slide.is-active {
    opacity: 1;
}
 #grandImage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 }
 .imageScrene {
    display:flex;
    justify-content: center;
  height: 85vh;
  width: 95vw;
  margin-top: 150px;
  
  
 }
 #imagegrande {
  height:auto;
  width:100%;
 object-fit: contain;
 }

/*----------------------- presentation tableau ------------------------------------*/
.presentation {
    width: 100vw;
    height: 70vh;
    background-color: #fdfcfc;
}    
/* ---------------------- formulaire ----------------------------------------------*/

.formulaire {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12rem;
    
}
.form-contact {
    color: #650900;
    
}
fieldset {
    display: flex;
    flex-direction: column;
    height: 36rem;
    width: 40vw;
    border-radius: 20px;
    background-color: #ceeff4;
}
legend {
    margin-left: 4rem;
    font-size: 2rem;
}
.input {
    height: 20px;
}
.marge {
    margin-right:4rem;
    margin-left: 4rem;
    
}
.label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.name {
    margin-top: 5.5rem;
}
.btnForm {
    width: 35vw;
    margin-top: 0.8rem;
}
.btnForm:hover {
    background-color: #ceeff4;
    color: #650900;
}
